@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0px;
  font-family: 'Inter', sans-serif;
}
@media (min-width: 486) {
  .navbar-all .logo {
    display: block;
  }
}
@media (max-width: 486px) {
  .navbar-all .logo {
    display: none;
  }
}

.App {
  text-align: center;
  margin: 0px;
  background-color: #8C5F66;
  background-color: #E09891;
  background-color: #ADBCA5;
  background-color: #E8B9AB;
  background-color: #772431;
  background-color: #8C5F66;
  background-color: #2d2223;
  max-width: 100rem;
}

@media (prefers-reduced-motion: no-preference) {
  .img {
    animation: App-logo-spin infinite 3s alternate;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(-25deg);
  }
  to {
    transform: rotate(25deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .post {
    animation: post-slide ease-in-out 0.9s alternate;
  }
}

@keyframes post-slide {
  from {
    transform: scaleX(20%);
  }
  to {
    transform: scaleX(120%);

  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-slide ease-in-out 1.8s alternate;
  }
}

@keyframes logo-slide {
  from {
    transform:translateX(80%)
  }
  to {
    transform:translateX(0%)
  }
}

.navbar .links {
  text-align: center;
  padding: 8px;
  margin-right: 10px;
}

.navbar-all {
  background: linear-gradient(#543041, #CB769E ) ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  height: 85px;
  margin-bottom: 11px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 85px;
  margin-bottom: 11px;
}

.links {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content:flex-start;
}

.links a {
  color: antiquewhite;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

h3 a, p a {
  color: #99D5C9;
}

h3 a:hover, p a:hover {
  color: #5b7f78;
}

.links a:hover {
  cursor: pointer;
  color: rgb(43, 40, 40);
}
.user {
color: #e9b7d9;
margin: 10px 0px;
display: flex;
justify-content: left;
align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap:8px
}
.img {
  margin: 10px;
  border-radius: 25px;
}
.login-button {
  border-radius: 5px;
  color: #ADBCA5;
  margin: 20px;
  margin-bottom: 180px;
}

.login-button:hover {
  border-radius: 9px;
  color: #596155;
  margin-bottom: 181px;
}

.submit-button {
  background-color: rgb(154, 144, 144);
}


.submit-button:hover {
  cursor: pointer;
  background-color: rgb(109, 101, 101);
}

.logout-button
{
  border-radius: 5px;
  color: #ADBCA5;
  margin: 10 px;
  padding: 4px;
  min-width: 50px;
}

.text {
padding: 10px;
margin: 20px;
color: #ADBCA5;
}

.body {
  max-width: 70%;
  margin: auto;
  padding: 10px 10px;
}

.title {
  max-width: 70%;
  padding: 10px 10px;
  color: #2D0320;
  margin-top: 2px;
}

.post {
  border: 1px solid rgb(136, 134, 134);
  border-radius: 35px;
  margin: 20px 20px;
  color: #ccd5e8;
  background-color: #a76f77;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  font-size: small;
  color: #3c4139;
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 11px;
}

input, textarea {
  padding: 8px 10px;
  margin: 3px 8px 10px 8px;
  background-color: #a8acb4;
  border: 0px transparent;
  border-radius: 5px;
  color: #343831;
  font-size: 1rem;
  z-index: 1;
  font-family: inter, nunito, sans-serif;
  max-width: 350px;
}

form {
  margin: auto;
  padding: 30px 20px;
  width: 440px;
  background-color: #ADBCA5;
  border-radius: 7px;
  backdrop-filter: blur(5px);
}

.signin {
  color: #c4cad5;
}