@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0px;
  font-family: 'Inter', sans-serif;


}
.App {
  text-align: center;
  margin: 0px;
  background-color: #8C5F66;
  background-color: #E09891;
  background-color: #ADBCA5;
  background-color: #E8B9AB;
  background-color: #772431;
  background-color: #8C5F66;
  background-color: #2d2223;
}

@media (prefers-reduced-motion: no-preference) {
  .img {
    animation: App-logo-spin infinite 3s alternate;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(-25deg);
  }
  to {
    transform: rotate(25deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .post {
    animation: post-slide ease-in-out 0.4s alternate;
  }
}

@keyframes post-slide {
  from {
    transform: scaleX(20%);
  }
  to {
    transform: scaleX(120%);

  }
}

.navbar .links {
  text-align: center;
  padding: 8px;
  margin-right: 50px;
}

.navbar-all {
  background: linear-gradient(#543041, #CB769E ) ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  height: 85px;
  margin-bottom: 11px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 85px;
  margin-bottom: 11px;
}

/* Style the logo image */
.navbar .logo img {
  margin-right: auto;
  height: 1rem;
}

.links {
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.links a {
  color: antiquewhite;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.links a:hover {
  cursor: pointer;
  color: rgb(43, 40, 40);
}
.user {
color: #ADBCA5;
margin: 10px 0px;
display: flex;
justify-content: center;
align-items: center;
}

.img {
  margin: 9px;
  border-radius: 25px;
}
.login-button {
  border-radius: 5px;
  color: #ADBCA5;
  margin: 20px;
  margin-bottom: 180px;
}

.login-button:hover {
  border-radius: 9px;
  color: #596155;
  margin-bottom: 181px;
}

.submit-button {
  background-color: rgb(154, 144, 144);
}


.submit-button:hover {
  cursor: pointer;
  background-color: rgb(109, 101, 101);
}

.logout-button
{
  border-radius: 5px;
  color: #ADBCA5;
  margin: 1px;
  margin-left: 10px;
  padding: 4px;
  min-width: 70px;
}


.text {
padding: 2px;
margin: 80px;
color: #ADBCA5;

}

.body {
  margin: 20px;
}

.post {
  border: 1px solid rgb(136, 134, 134);
  border-radius: 35px;
  margin: 20px 20px;
  color: #b1b9c8;
  background-color: #a76f77;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  font-size: small;
  color: #3c4139;
  display: flex;
  flex-direction: row;
  padding: 18px;
  gap: 11px;
}

input, textarea {
  padding: 8px 10px;
  margin: 3px 8px 16px 8px;
  background-color: #a8acb4;
  border: 0px transparent;
  border-radius: 5px;
  color: #343831;
  font-size: 1rem;
  z-index: 1;
  font-family: inter, nunito, sans-serif;
  max-width: 350px;
}

form {
  margin: auto;
  padding: 30px 20px;
  width: 440px;
  background-color: #ADBCA5;
  border-radius: 7px;
  backdrop-filter: blur(5px);
}

.signin {
  color: #c4cad5;
}

.title {
  margin-top: 19px;
}